@model IEnumerable<ExperimentsDataViewer.Models.ExpInfoDetail>

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
	<tr>
		<th>
			ExpNo
		</th>
		<th>
			CollectedTime
		</th>
		<th>
			Acceleration
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ExpNo)
			</td>
			<td>
				@item.CollectedTime.ToString("yyyy-MM-dd HH:mm:ss.ffff")
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Acceleration)
			</td>
		</tr>
	}

</table>

<div>
	@Html.ActionLink("Back to List Page", "Index")
</div>
