@{
    ViewBag.Title = "Chart";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide chart for this experiment.</p>

<div>
	@Html.ActionLink("Back to List Page", "Index")
</div>